@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-background text-brand-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-purple/20 rounded-full hover:bg-brand-purple/40 transition-colors;
}
